labs/terraform/.terraform/providers/registry.terraform.io/hashicorp/aws/6.46.0/windows_amd64/LICENSE.txt
labs/terraform/.terraform/providers/registry.terraform.io/hashicorp/aws/6.46.0/windows_amd64/terraform-provider-aws_v6.46.0_x5.exe
labs/terraform/.terraform/providers/registry.terraform.io/integrations/github/6.5.0/windows_amd64/CHANGELOG.md
labs/terraform/.terraform/providers/registry.terraform.io/integrations/github/6.5.0/windows_amd64/LICENSE
labs/terraform/.terraform/providers/registry.terraform.io/integrations/github/6.5.0/windows_amd64/README.md
labs/terraform/.terraform/providers/registry.terraform.io/integrations/github/6.5.0/windows_amd64/terraform-provider-github_v6.5.0.exe
pdf/tf_004_ALL_SLIDES.pdf
